<!Doctype html>
<html>

<head>
    <title>Results of survey</title>
</head>

<body>
    <div class="container">
        <h1>Submitted Information:</h1>
        <p>Name:
            <%=data.name%>
        </p>
        <p>Dojo Location:
            <%=data.location%>
        </p>
        <p>Favorite Language:
            <%=data.language%>
        </p>
        <p>Comment:
            <%=data.comment%>
        </p>
    </div>
    <form action="/">
        <button>Go back</button>
    </form>
</body>

</html>